<configuration><configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="translit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <translit.Properties.Settings>
            <setting name="PronunciationActivated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Chinese2EnglishEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PronunciationAccent" serializeAs="String">
                <value>US</value>
            </setting>
            <setting name="SogouSecret" serializeAs="String">
                <value>8511813095152</value>
            </setting>
            <setting name="SogouCookie" serializeAs="String">
                <value>SUID=55D8FB72AF67900A000000005BBB6A92; SELECTION_SWITCH=1; HISTORY_SWITCH=1; SMYUV=1545743088257814; wuid=AAGwa3OKJgAAAAqLFD02RQYAGwY=; CXID=0F46B9B8E19611E22755D23CC9098366; ssuid=6745682256; sct=23; LSTMV=410%2C22; LCLKINT=13443; ad=zkllllllll2NWXH5lllllVCfW1DlllllbRTwGkllll9lllllRllll5@@@@@@@@@@; ABTEST=0|1570572735|v17; SUV=1570572709885; SNUID=B9684BC2B0AA3B3C68816FD8B07AF98D; IPLOC=CN1100</value>
            </setting>
        </translit.Properties.Settings>
    </userSettings>
               </configuration>